/* Color pallete 
Background: #32292F
Gameboard Baclground: #CED0CE
Button Background:  #CED0CE
Text: #e71d36
*/

/* FOnts
X and O: Arial, Haelvetica, Sans-serif
Rest: "Open Sans", Sans-serif
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Universal Styles */
body {
	height: 100vh;
	background-color: #32292f;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

/* Gameboard */
main {
	grid-row: 2;
}

.gameboard-grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: #ced0ce;
	margin: 0 auto;
	width: 37.5rem;
	text-align: center;
	border-radius: 5px;
	font-size: 8rem;
	height: 37.5rem;
}

.gameboard-grid-container div {
	border: 1px solid #32292f;
	display: grid;
	align-content: center;
	justify-content: center;
}

.gameboard-grid-container div:hover {
	cursor: pointer;
	background-color: #e71d36;
}

/* Buttons */
.btns-container {
	text-align: center;
	margin-top: 3rem;
}
.btn {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	background-color: #ced0ce;
	border-radius: .25rem;
	border: 1px solid transparent;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	outline: none;
	color: #e71d36;
	padding: 1.3rem;
}

.btn:hover {
	opacity: .5;
}

.reset-btn {
	margin-left: 1rem;
}

/* Score Board */
.score-container {
	display: flex;
	font-size: 2rem;
	color: #e71d36;
}

.p1-score {
	float: left;
}

.p2-score {
	float: right;
}

.name {
	margin-right: 1rem;
}

.score {
	margin-right: .5rem;
}

/* Footer */
.footer-container {
	display: grid;
	align-content: end;
	font-size: 1.3rem;
}

.footer-link {
	color: inherit;
	text-emphasis: none;
	text-decoration: none;
}
.footer-container h3 {
	margin-bottom: 1rem;
	color: #e71d36;
	margin-left: 1rem;
}
