/* Color pallete 
Background: #32292F
Gameboard Baclground: #CED0CE
Button Background:  #E71D36
Text: #4A8FE7
*/

/* FOnts
X and O: Arial, Haelvetica, Sans-serif
Rest: "Open Sans", Sans-serif
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Universal Styles */
body {
	height: 100vh;
	background-color: #32292f;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	box-sizing: border-box;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

/* Gameboard */
main {
	grid-row: 2;
}

.gameboard-grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: #ced0ce;
	margin: 0 auto;
	width: 50%;
	text-align: center;
}
